<div class="container">
  <div class="profile">
    <img
      src="https://png.pngtree.com/element_our/20190601/ourmid/pngtree-character-user-icon-material-image_1338203.jpg"
      alt="default user"
    />
    <h3>User Info:</h3>
    <div class="flex">
      <p>Username:</p>
      <p>Johny</p>
    </div>
    <div class="flex">
      <p>Email:</p>
      <p>john.doea&#64;gmail.com</p>
    </div>
    <div class="flex">
      <p>Phone:</p>
      <p>+359 885 888 888</p>
    </div>
    <button class="edit-button">Edit</button>
  </div>
</div>
