h3 {
  border-bottom: none;
  border-radius: 0.3rem;
  font-size: 1.2rem;
  background-color: #4ebced;
  text-align: left;
  padding: 0 1em;
}

p {
  text-align: right;
}

a {
  text-decoration: none;
  color: inherit;
}
